.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-Items{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 20px;
    padding: 30px 100px;
}

.cart-contener{
    background: #ffe0b3;
    height: calc(100vh - 67px);
}

.shop-contener::-webkit-scrollbar {
    display: none;
}
.shop-contener{
    height: calc(100vh - 67px);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}