.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-Items{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 20px;
    padding: 10px 30px;
}

.cart-contener{
    background: #ffe0b3;
}