.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-Items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 30px 100px;
}

.cart-contener {
    position: sticky;
    top: 67px;
    background: #ffe0b3;
    height: calc(100vh - 67px);
}

.shop-contener::-webkit-scrollbar {
    display: none;
}

.shop-contener {
    height: calc(100vh - 67px);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.proceed-btn {
    background: #FF9900;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 0;
    border-radius: 4px;
    width: 90%;
    margin: 20px auto;
    font-size: 20px;
}