.header {
    position: sticky;
    top: 0;
    background: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.active {
    color: green;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    font-size: 18px;
}

.disable {
    color: white;
}

.nav-link a {
    text-decoration: none;
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    background: #2cca26;
    color: antiquewhite;
    font-weight: 700;

}