.from-contener {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    width: 400px;
    margin: 50px auto;
    padding: 42px;
    box-shadow: -12px 12px 6px -2px #FFE0B3;
}

.from-contener h1 {
    text-align: center;
    margin-bottom: 29px;
}

.from-control {
    width: 100%;
    margin-bottom: 20px;
}

.from-control label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    margin-left: 10px;
    font-size: 13px;
}

.from-control input {
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 0.5px solid gray;
}

.btn-submit {
    background: rgba(255, 153, 0, 0.8);
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 19px;
    font-weight: 700;
}

.btn-submit:hover {
    background: rgba(255, 153, 0, 1);
}

.option-text {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.option-text a {
    text-decoration: none;
    color: #FF9900;
}

.or-line {
    position: relative;
    margin: 30px;
    border-top: 1.5px solid gray;
}

.or-line p {
    position: absolute;
    text-align: center;
    padding-top: 4px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    height: 30px;
    width: 30px;
    border: 1.5px solid gray;
    border-radius: 50px;
}

.google-btn img {
    width: 30px;
}

.google-btn {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    border: 1px solid #95A0A7;
    border-radius: 5px;

}

.google-btn p {
    color: #2A414F;
    font-weight: 400;
    font-size: 17px;
}